.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFDD0;
    padding: 15px 7%;
    margin-bottom: 35px;
}

.logo{
    width: 250px;
    cursor: pointer;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 20px;
}
.search-box{
    display: flex;
    background:  #242424;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px
}
.search-box input{
    padding: 6px;
    border: 0;
    background: transparent;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}
.search-box input::placeholder{
    color: #fff;
}
.search-box img{
    width: 20px;
    cursor: pointer;
}
.cart-icon{
    margin-left: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}
.user-icon{
    margin-left: 20px;
    width: 40px;
    position: relative;
    cursor: pointer;
}
.dark .navbar{
    background: #181818;
    color: #fff;
}
.dark .search-box{
    background: #fff;
}
.dark .search-box input{
    color: #222;
}
.dark .search-box input::placeholder{
    color: #222;
}
